.priority-high .ant-select-selector {
    background-color: red !important;
}

.priority-medium .ant-select-selection-item {
    background-color: orange !important;
}

.priority-low .ant-select-selection-item {
    background-color: yellow !important;
}

.process-not-started .ant-select-selection-item {
    background-color: #1890ff !important;
}

.process-in-progress .ant-select-selection-item {
    background-color: #434343 !important;
    /* Xám đen */
}

.process-waiting .ant-select-selection-item {
    background-color: yellow !important;
}

.process-deferred .ant-select-selection-item {
    background-color: orange !important;
}

.process-done .ant-select-selection-item {
    background-color: #52c41a !important;
    /* Xanh lá */
}

.completed-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-table {
    margin: 0 auto;
    width: 100%;
}

.custom-table .ant-table-thead th {
    background-color: #f0f0f0;
}

.custom-table .ant-table-tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table .ant-table-tbody tr:hover {
    background-color: #e6f7ff;
}

.custom-table .ant-table-tbody td {
    padding: 8px 16px;
}

.custom-table .ant-table-tbody td,
.custom-table .ant-table-thead th {
    text-align: center;
}

.custom-table .ant-table-pagination {
    text-align: center;
}

.custom-table .ant-table-thead th {
    text-align: center !important;
}