*{
  box-sizing: border-box;
  margin: 0;
}

Navbar{
  width:100vw;
  height: 100vh;
}
.navbar-collapse{
  flex-grow: 0 !important;
}
.section{
  display: flex;
  justify-content: space-around;
}
.content_about{
  width: 45%;
  height: 75vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 150px;
}
.content_about Button{
  width:150px;
  border-radius: 20px;
}
.content_image{
  width: 45%;
  height: 80vh;
  display: flex;
  justify-content: left;
  align-items:center;
}
.content_image img{
  width: 80%;
  height: 80%;
  padding: 20px;
}
.section_social-network{
  width: 100%;
  height: 10vh;
  background-color: rgb(248 249 250);
}
/*  */
.section_social-network{
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-evenly;
}
.social-network{
  width: 50%;
  display: flex;
  justify-content:space-evenly;
}
.social-network i{
  font-size: 30px;
  color: black;
}

/* css table */
 td input{
  width: 100%;
  margin-left: 5px;
}
td input[type="radio"]{
  width:12px;
  height: 12px;
  line-height: 12px;
  margin:0 5px;
}
td input[type="checkbox"]{
  width: 12px;
    height: 12px;
    line-height: 12px;
  margin: 0 5px;
}
.seachButton{
  background-color: white !important;
  color:rgb(0 0 0 / 30%) !important;
  border-color: rgb(0 0 0 / 30%) !important;
  margin-right: 130px;
}
.seachButton:hover{
  background-color: black !important;
  color: white !important;
}
.nav-link {
  text-decoration: none;
  /* Loại bỏ dấu gạch dưới */
  color: inherit;
  /* Sử dụng màu chữ mặc định */
}